<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" , content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/welcome.css">
    <script defer type="text/javascript" src="js/welcome.js"></script>
    <title>NYU Global Chat</title>
</head>

<body>

    <head>
        <nav id="nav-bar">
            <a href="javascript:goRegistration()" id="login">Login/Signup</a>
        </nav>
        <!-- <div class="break"></div> -->
    </head>
    <main>
        <section id="welcome">
            <h1>NYU<span>Global Chat</span></h1>
            <p id="intro">NYU Global Chat is an open source project designed to allow unrestricted communication
                exclusively between NYU students/alumni.</p>
            <button type="button" id="enter" onclick="location.href='./registration'">Enter</button>
        </section>
    </main>
</body>

</html>