body {
    background-color: #eee;
}

.registration-window {
    margin: 5% 30%;
    width: 40%;
    min-width: 300px;
    height: 100%;
}

.tab-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.tab-button {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 40px;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab {
    display: none;
    /* width: 70%; */
    padding: 20px;
    background-color: #ccc;
    margin: 0;
}

.active-tab-button {
    background-color: #ccc;
    transform: scaleY(1.1);
    transform-origin: bottom;
}

.info {
    padding: 0;
}

.info label {
    display: block;
    background: aqua;
    width: 100%;
    text-align: left;
}

.info input {
    background-color: red;
    width: 80%;
}
